.container{
    background-color:rgba(0, 0, 255, 0.295);
}

h1{
    display:flex;
    justify-content: center;
}
.button{
    
    font-size: 30px;
    border-radius: 8px;
    background-color:rgba(0, 0, 0, 0.075);
    width: auto;
}

.submit-group{
    display:flex;
    rotate: right;
}